#{$container} {
  margin: 0 auto;
  padding: 0px $line-height; 
}
$font-family: verdana, sans-serif !default;
h1,h2,h3,h4,h5{
  font-family:'Sorts Mill Goudy', serif;
}
#Logo{
  padding-top:.5em;
  display:block;
  font-size:2em;
  font-family:'Sorts Mill Goudy', serif;
  line-height:2;
  color:#fff;
  text-decoration:none;
  @include text-shadow(1px 1px 2px #666);
  &:hover{
    @include text-shadow(none);
    color: darken($footerBGColor, 20%);
  }
}
img, embed, object, video{
  max-width:100%;
}
input, textarea {
  padding: 0.5em;
  font-size: 21px;
  font-family: arial;
  border: 1px solid #333333;
  display: block; 
}

textarea {
  resize: none;
  width: 100%;
  @include column(3, 1);
  @include prepend-column(0.5); }

input[type=text], input[type=password], input[type=url] {
  @include column(3, 1);
  @include prepend-column(0.5);
}

input[type=submit] {
  @include clean-pill-button(rgb(0,182,241));
  @include prepend-column(0.5); }

html {
  background: $footerBGColor; }

body {
  background: $primaryBGColor;
  color: $primaryColor;
  @include base-font;
  // Stops Mobile Safari from auto-adjusting font-sizes
  -webkit-text-size-adjust: 100%;
  @if $show-grid-backgrounds{
    &:before{
      z-index: 2;
      content: " ";
      display:block;
      position:absolute;
      left:0;
      right:0;
      top:0;
      bottom:0;
      width:896px;
      margin:0 auto;
      @include grid-background();
    }
  }
}

@include basic-typography(true);
pre, code{
  font-family: $inconsolata;
  font-size: .9em;
}
pre{
  margin-top:1em;
  margin-bottom:2em;
  line-height: 1.2;
  padding:1em;
  background:#efefef;

}
#page a, footer div a{
  @include basic-link(lighten($text-color, 20%), darken($text-color, 10%), lighten($text-color, 30%), "underline");
}

header[role= banner] {
  background: $headerBGColor;
  @include background-image(linear-gradient(top, darken($headerBGColor, 12%), $headerBGColor 48px));
  border-bottom:solid 1px darken($headerBGColor, 10%);
  .container{
   }
}

body>footer {
  background: $footerBGColor;
  margin-bottom:2em;
}

#page {
  padding-top: ($line-height * 1.5)px;
  padding-bottom: ($line-height * 1.5)px;
  @include padding-leader(1);
  @include padding-trailer(1);
}

[role=main] {
  background: $primaryBGColor;
}

nav {
  ul {
    list-style: none; }
  li {
    display: inline-block; 
  }
  a {
    display: inline-block;
    background: $buttonBGColor;
    color: $buttonColor;
    text-decoration: none;
    padding: .7em 1em .3em 1em;
    line-height:1.5;
    @include border-radius(2em);
    &.active, &:hover {
      background: $buttonBGColorActive;
      color: $buttonColorActive; 
    }
  }
}

.CTA {
  background: $primaryBGColor; 
  &:hover{
    background:rgba($primaryBGColor, .5);
  }
}

aside {
  background: $primaryBGColor; 
}
.menu{
  list-style:none;
  margin:0;
  padding:0;
  li{
    margin:0;
    padding:0;
  }
}
ul.gallery{
  list-style:none;
  margin:0;
  padding:0;
  a{
    border-bottom:none !important;
  }
  li{
    @include column(3.3);
    float:left;
    :nth-child(3n){
      margin-right:0;
    }
  }
}
.menu{
  margin-bottom:2em;
}
.menu.recent, .menu.featured, .menu.topics{
  li{
    margin-bottom:.5em;
  }
  a{
    display:block;
  }
  span{
    display:block;
    font-size:.8em;
    text-align:right;
  }
}

// Selection colors (easy to forget)
@include selection-color(unquote("rgb(255,255,158)"));

.readMore{
  float:right;
}
article{
  clear:both;
  padding-bottom:48px;
  margin-bottom:24px;
}
.pagers{
  border-top:solid 1px #ccc;
  padding-top:24px;
  clear:both;
}
.next{
  float:right;
  text-align:right;
  display:inline-block;
}
.previous{
  display:inline-block;
}
.pageCount{
  text-align:center;
  margin-top:24px;
}
a h2{
  margin-left:-12px;
  margin-right:-12px;
  padding-left:12px;
  padding-right:12px;
  padding-top:12px;
  paddding-bottom:6px;
  &:hover{
    background:#efefef;
  }
}
