@mixin mobile {
  $column-count: 3;
  $max-width: 320px;
  $gutter-width:  get-percent(4px);
  $column-width: (get-percent($max-width) / $column-count) - ($gutter-offset) ;
  #{$container} {
    @include grid(3);
    @include clearfix;
  }
  pre{
    overflow: scroll;
    font-size:.6em;
  }
  header nav {
    font-size:.9em;
    margin-left:0;
    ul{
      margin-left:0;
      padding-left:0;
      text-align:center;
      margin-top:0;
    }
  }
  [role=main] {
    @include column(3, first);
  }
  aside {
    @include column(3, last);
  }
  .CTA {
    display: inline-block;
    @include column(3, last);
    text-decoration: none;
  }
  #page{
    margin-bottom:1.5em;
  }
  footer{
    padding-top:.5em;
    .secondary {
      margin-top:2em;
      ul{
        margin:0 auto;
        padding:0;
        li{
          margin:.25em 0;
          padding:0;
          display:block;
          a{
            display:block;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 479px) {
  @include mobile; 
}
