@media only screen and (min-width: 768px) and (max-width: 991px) {
  $column-count: 8;
  $max-width: 900px;
  $column-width: (get-percent($max-width) / $column-count) - ($gutter-offset) ;

  #{$container} {
    @include grid(8);
    @include clearfix;
  }
  #page {
    @include clearfix;
  }
  [role=main] {
    @include column(8, 0);
    float: left;
  }
  .CTA {
    display: inline-block;
    @include column(3, last);
    float: right;
    text-decoration: none;
  }
  body>footer{
    padding-top:2em;
    ul{
      text-align:center;
    }
  }
  aside {
    @include column(3, last);
    float: left;
  }
  .first {
    @include column(3, first);
    float: left; 
  }
  .second {
    @include column(2);
    float: left; 
  }
  .third {
    @include column(3, last);
    float: left; 
  }

}
