@media only screen and (min-width: 480px) and (max-width: 767px) {
  $column-count: 5;
  $max-width: 740px;
  $column-width: (get-percent($max-width) / $column-count) - ($gutter-offset) ;

  #{$container} {
    @include grid(5);
    @include clearfix;

  }
  #Logo{
    @include column(5,last);
     padding-top:9px;
    img{
      width:72px;
      height:auto;
      float:left;
      margin-right:12px;
    }
  }
  header nav {
    @include column(5,last);
    font-size:.9em;
    margin-left:0;
    ul{
      margin-left:0;
      padding-left:0;
           text-align:right;
 
      margin-top:0;
    }
  }

  [role=main] {
    @include column(5);
    @include last();
  }

  .CTA {
    display: inline-block;
    @include column(2, last);
    float: right;
    text-decoration: none;
  }
  footer{
    padding-top:.5em;
    .secondary {
      margin-top:2em;
      margin-bottom:2em;
      ul{
        margin:0 auto;
        padding:0;
        li{
          margin:.25em 0;
          padding:0;
          display:block;
          a{
            display:block;
          }
        }
      }
    }
  }

.readMore{
    display:block;
    float:none;
    margin-top:.5em;
  }

  aside {
    @include column(5, last);
    clear:both;
    margin-top:48px;
  }

}
