%aside.sponsor
  %p
    Sponsored by:
  %div
    %a{:href => "http://click.linksynergy.com/fs-bin/click?id=ftYJeGHj96E&offerid=163557.10000002&type=4&subid=0"}
      %img{:alt => "Sam Ash Quikship Corp.", :border=>"0", :src => "http://www.samash.com/opencms/opencms/samash/affiliate/SAM_ASH_234X60_.jpg"}
  %img{:border => "0", :width => "1", :height => "1", :src => "http://ad.linksynergy.com/fs-bin/show?id=ftYJeGHj96E&bids=163557.10000002&type=4&subid=0"}
