%header{:role=> "banner"}
  .container
    %a{:id=>"Logo", :href=> "/"}
      = image_tag 'logoPlaceholder.png' 
    %nav
      = partial "layouts/partials/main_nav"
/
  %nav.secondary
    = partial "layouts/partials/main_nav"
