%ul
  %li
    %a{:class => "#{active?('blog')}", :href => "/blog"} Blog
  %li
    %a{:class => "#{active?('gallery')}", :href => "/gallery"} Gallery
  %li
    %a{:class => "#{active?('contact')}", :href => "/contact"} Contact
