@import "modules/all";

// Color palette
$primaryBGColor: white;
$primaryColor: rgb(60, 60, 60);

$secondaryBGColor: #7ec3dc;
$secondaryColor: #999999;

$footerBGColor: #eae8ff;


$buttonBGColor: #507ba9;
$buttonColor: lighten($buttonBGColor, 30%);

$buttonBGColorActive: #19395d;
$buttonColorActive: lighten($buttonBGColorActive, 30%);

$header-color: darken($footerBGColor, 30%);
$headerBGColor: #eae8ff;


// Basic Typography Settings
$base-font-family:$josefin ;
$header-font-family:$goudy ; 

$indented-paragraphs: true;
$base-font-size: 21px;
$base-line-height: 32px;
$line-height: 1.5;
$text-color: $primaryColor;

// Grid stuff
$grid-background-column-color: rgba(100, 100, 225, 0.25);
$grid-background-total-columns: 10;
$grid-background-column-width: 68px;
$grid-background-gutter-width: 24px;
$grid-background-offset: 0px;
$grid-background-baseline-color: rgba(0, 0, 0, 0.5);
$grid-background-baseline-height: 1.5em;
$show-grid-backgrounds: false;

a h2{
  border-bottom:solid 1px #333;
}
body{

}
.subscribe{
  display:block;
  border-bottom:none;
  background:#ccc;
  @include subtle-button();
  &:hover{
    border-bottom:none;
  }
}
