@include global-reset();

// Color palette
$primaryBGColor: white;
$primaryColor: rgb(60, 60, 60);

$secondaryBGColor: #CCEFFC;
$secondaryColor: #999999;

$footerBGColor: #002C3C;


$buttonBGColor: lighten($footerBGColor, 10%);
$buttonColor: lighten($buttonBGColor, 20%);

$buttonBGColorActive: lighten($footerBGColor, 20%);
$buttonColorActive: #cccccc;

$header-color: lighten($footerBGColor, 30%);
$headerBGColor: $footerBGColor;


// Basic Typography Settings
$base-font-family: $helvetica;

$indented-paragraphs: true;
$base-font-size: 16px;
$base-line-height: 24px;
$line-height: 24px;
$text-color: $primaryColor;

@include basic-typography(true);


// Grid stuff
$grid-background-column-color: rgba(100, 100, 225, 0.25);
$grid-background-total-columns: 10;
$grid-background-column-width: 68px;
$grid-background-gutter-width: 24px;
$grid-background-offset: 0px;
$grid-background-baseline-color: rgba(0, 0, 0, 0.5);
$grid-background-baseline-height: 1.5em;
$show-grid-backgrounds: false;

